<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nano Google</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/>

    <style type="text/css">
        .top-buffer { margin-top:100px; }
    </style>
</head>
<body>
<div class="row top-buffer">
    <div class="col-md-6 col-md-offset-3">
        <form action="/index" th:object="${indexForm}" method="post">
            <input type="text" th:field="*{uri}" size="50" placeholder="http://google.com"/>
            <input type="submit" value="Index"/>
        </form>
        <br/>
        <a href="/">Search</a>
        <br/>
        <div th:if="${indexed}!=null">
            <p>Indexed <span th:text="${indexed}"/> documents.</p>
        </div>
    </div>
</div>
</body>
</html>